$main-color: rgb(215, 188, 219);
$text-color: rgb(142, 111, 170);
$hover-color: rgb(125, 192, 185);
$button-color: rgb(174, 196, 243);
body{
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}
a, p, i, h1{
    letter-spacing: 1px;
    color: $text-color;
}
.f-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.f-space{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.active{
    color: $main-color;
}
.none{
    display: none;
}
.block{
    display: block;
}