@import "color.scss";
header{
    z-index: 12;
    width: 100vw;
    background: $hover-color;
    border-bottom: 1px solid $main-color;
    position: fixed;
    top: 0;
    // left: 50%;
    // transform: translateX(-50%);
    
    .container{
        height: 50px;
        width: 1200px;
        
        .logo{
            width: 150px;
            a,i{
                font-size: 30px;
                text-transform: uppercase;
            }
            &:hover{
                a, i{
                    color: $main-color;
                }
            }
        }
        .nav{
            .line{
                display: none;
                i{
                    font-size: 35px;
                }
            }
            width: 600px;
            ul{
                li{
                    a{
                        &:hover{
                            color: $main-color;
                        }
                    }
                }
            }
        }
        a{
            i{
                font-size: 30px;
            }
        }
        .user{
            width: 100px;
            padding: 10px;
            position: relative;
            .users{
                &:hover{
                    i{
                        color: $main-color;
                    }
                    .infor{
                        position: absolute;
                        top: 0;
                        left: 0;
                        transform: translate(-40%, 60%);
                        background: $main-color;
                        border-radius: 5px;
                        padding: 10px;
                        display: block;
                        li{
                            display: flex;
                            // margin: 5px 0;
                            padding: 5px 10px;
                            a{
                                margin: 0 5px;
                            }
                            i{
                                color: $text-color;
                            }
                            &:hover{
                                a,i{
                                    color: $hover-color;
                                }
                            }
                        }
                    }
                }
            }
            .cart{
                margin-left: 40px;
                position: relative;
                p{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    transform: translate(10px, 10px);
                }
                &:hover{
                    p, i{
                        color: $main-color;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    header{
        .container{
            height: 50px;
            width: 550px;
            .nav{
                width: 50px;
                .line{
                    display: block;
                }
                ul{
                    display: none;
                }
                
                &:hover{
                    position: relative;
                    ul{
                        position: absolute;
                        top: 27px;
                        right: -25px;
                        width: 200px;
                        background: #fff;
                        box-shadow:10px 0.111rem 40px 1px rgba(77, 76, 76, 0.651);
                        display: block;
                        li{
                            padding: 10px 5px;
                            margin-left: -25px;
                            &:hover{
                                background: $main-color;
                                padding: 10px 5px;
                                margin-left: -25px;
                                a{
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
                
            }
            .user{
                display: none;
            }
        }
    }
}

