h3,p,a, span,i{
    color:#fff;
}
body{
    font-family: 'Roboto', sans-serif;
}
.f_space_between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    display: flex;
    .col_container{
        background: #2A3F54;
        width: 20%;
        .m_col{
            width: 90%;
            margin: 0 auto;
            .logo{
                display: flex;
                align-items: center;
                img{
                    width: 15%;
                    height: 15%;
                    border-radius: 50%;
                    margin: 10px;
                }
                h3{
                    text-transform: uppercase;
                }
            }
            .user{
                display: flex;
                align-items: center;
                img{
                    border: 3px solid #fff;
                    width: 25%;
                    height: 25%;
                    border-radius: 50%;
                    margin: 10px;
                }
            }
            .nav_bar{
                >ul{
                    >li{
                        position: relative;
                        background: linear-gradient(#334556, #2C4257),#2A3F54;
                        box-shadow: 0 12px 20px -15px #446f9b inset;
                        li::before{
                            content: ' ';
                            background: #fff;
                            position: absolute;
                            width: 5px;
                            height: 0;
                            right: 0;
                            top: 0;
                            // transition: height 0.4s linear;
                        }
                        >h3{
                            width: 100%;
                            height: 50px;
                            font-size: 15px;
                            letter-spacing: 1px;
                            font-weight: lighter;
                            // padding: 10px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            i{
                                margin-right: 10px;
                                font-size: 20px;
                            }
                            .down{
                                font-size: 15px;
                            }
                        }
                        
                        li::before{
                            height: 100%;
                        }
                        .home_drop, .form_drop{
                            border-top: rgb(64, 78, 155) solid 1px;
                            ul{
                                li{
                                    padding: 10px;
                                    a{
                                        font-size: 15px;
                                        letter-spacing: 2px;
                                        font-weight: lighter;
                                    }
                                    &:hover{
                                        background: rgb(136, 154, 207);
                                    }
                                }
                            }
                        }
                        .home_drop, .form_drop, .ui_drop, .table_drop, .dpre_drop, .layouts_drop{
                            display: none;
                            // transition: height 0.4s linear;
                        }
                    }
                }
            }
        }
    }
    .home_dash_o{
        width: 80%;
        background: #dadada;
        // height: 1500px;
        i{
            font-size: 30px;
        }
        a,i,p, span, h1{
            color: #2A3F54;
        }
        .header{
            z-index: 1;
            position: relative;
            width: 95%;
            margin: 0 auto;
            padding: 5px 0;
            &::before{
                position: absolute;
                content: ' ';
                background: #c9c9c9;
                width: 105%;
                height: 1px;
                bottom: 0;
                left: -2.5%;
            }
            .hide_menu{
                
            }
            .right{
                width: 20%;
                .noti{
                    i{
                        position: relative;
                        >span{
                            position: absolute;
                            top: -5px;
                            right: -5px;
                            font-size: 10px;
                            background: rgb(218, 54, 36);
                            border-radius: 8px;
                            padding: 5px 7px;
                        }
                    }
                    position: relative;
                    &:hover{
                        .noti_drop{
                            position: absolute;
                            background: #eeeeee;
                            border: #b6b6b6 solid 1px;
                            width: 400px;
                            left: 0;
                            transform: translateX(-40%);
                            display: block;
                            ul{
                                li{
                                    margin: 10px;
                                    background: #dfdfdf;
                                    a{
                                        width: 100%;
                                        img{
                                            width: 70px;
                                            height: 70px;
                                            margin: 10px;
                                        }
                                        .title{
                                            margin-top: 10px;
                                            position: relative;
                                            span{
                                                font-weight: bold;
                                                .time{
                                                    position: absolute;
                                                    right: 10px;
                                                    top: 0;
                                                }
                                            }
                                            p{
                                                line-height: 1.6;
                                                margin-top: 0;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .noti_drop{
                        display: none;
                    }
                }
            }
            .profile{
                width: 60%;
                img{
                    width: 30%;
                    height: 30%;
                    border-radius: 50%;
                }
                i{
                    font-size: 15px;
                    margin-left: 5px;
                }
            }
        }
        .show_avg{
            display: flex;
            background: #ebebeb;
            .total_users, .avg_time, .total_products, .total_sell{
                position: relative;
                margin: 10px;
                width: 15%;
                text-align: center;
                i{
                    font-size: 20px;
                }
                &::before{
                    position: absolute;
                    content: ' ';
                    background: #2A3F54;
                    width: 2px;
                    height: 100px;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
                .top{
                    margin-bottom: 10px;
                }
                >span{
                    font-size: 40px;
                }
                p{
                    >span{
                        color: rgb(218, 54, 36);
                    }
                }
                &:last-child{
                    &::before{
                        background: none;
                    }
                }
            }
        }
        .chart_m{
            z-index: -1;
            display: flex;
            height: 500px;
            .chart_month, .chart_top_month{
                margin: 20px;
                h1{
                    text-transform: uppercase;
                    font-size: 30px;
                }
            }
        }
        .chart_t{
            width: 70%;
            .chart_top_buy, .chart_top_rate, .chart_top_sell{
                margin: 20px;
                h1{
                    text-transform: uppercase;
                    font-size: 25px;
                }
            }
        }
    }
    .form_o{
        background: #eeeeee;
        width: 80%;
        display: flex;
        align-items: baseline;
        h1,label{
            color: #2A3F54;
            text-transform: uppercase;
        }
        .add_product, .add_category, .add_branch{
            width: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
            form{
                margin: 20px;
                text-align: left;
                width: 100%;
                input{
                    width: 100%;
                    padding: 15px;
                    margin: 5px 0;
                    // border-radius: 8px;
                    border: #2A3F54 solid 1px;
                    &:focus{
                        outline: rgb(27, 27, 27) solid 1px;
                        // outline-style: ;
                    }
                }
                .add_button{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 30px;
                }
                button{
                    border: none;
                    background: #334556;
                    padding: 15px;
                    color: #fff;
                    position: relative;
                    z-index: 1;
                    &::before{
                        z-index: -1;
                        content: ' ';
                        position: absolute;
                        background: #4e7eaf;
                        top: 0;
                        left: 0;
                        width: 0;
                        height: 100%;
                        transition: all .2s linear;
                    }
                    &:hover{
                        &::before{
                            width: 100%;
                        }
                    }
                }
            }
        
        }
    }
    .table_o{
        background: #eeeeee;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        .list_product{
            h1{
                text-transform: uppercase;
            }
            table{
                background: #fff;
                tr{
                    &:hover{
                        background: #dadada;
                    }
                    th{
                        background: #2A3F54;
                        color: #fff !important;
                        font-weight: lighter;
                    }
                    th, td{
                        padding: 15px 25px;
                        color: #2A3F54;
                        border: 1px solid #333;
                        a{
                            color: #2A3F54;
                            // background: #334556;
                            // padding: 10px 15px;
                            // color: #fff;
                            // position: relative;
                            // &::after{ 
                            //     content: ' ';
                            //     position: absolute;
                            //     background: #4e7eaf;
                            //     top: 0;
                            //     left: 0;
                            //     width: 0;
                            //     height: 100%;
                            //     transition: all .2s linear;
                            // }
                            &:hover{
                                color: #4e7eaf;
                                // &::after{
                                //     width: 100%;
                                // }
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes scrollDown{
    0%{

    }
    25%{

    }
    50%{

    }
    100%{

    }
}